<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site</title>
    <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/dashboard.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/product.css') }}" />
</head>
<body>

<header>
    <a class="menu" href="{{ path('dashboard') }}">MENU</a>
    <div class="main-navbar">
        <nav>
            <ul class="main-navbar-content">
                <li><a class="navbar-route" href="{{ path('admin_product_create') }}">Créer une fiche</a></li>
            </ul>
        </nav>
    </div>
</header>

{% block main %}{% endblock main %}

<footer>
</footer>
</body>
</html>


