{% extends "admin/form.html.twig" %}

{% block main %}
    <div class="bgd-title">
        <h1>Toutes les figurines</h1>
    </div>
<section id="products">
    {% for productadd  in products %}

            <div class="card-container">
                <article>
                    <div class="card">
                        <a href="{{ path('admin_product', {"id": productadd.id}) }}"><img src="{{ asset('uploads/cover/'~productadd.picture) }}" alt=""></a>
                        <div class="card-content">
                            <h4>{{ productadd.name }} {{ productadd.manufacturer }}</h4>
                            <h4>Cote: {{ productadd.price }}€</h4>
                            <div class="logos">
                                <a href="{{ path('admin_product_delete', {"id": productadd.id}) }}"><img src="../public/assets/img/bin.png" class="icon-bin" alt="bin logo"></a>
                                <a href="{{ path('admin_product_update', {"id": productadd.id}) }}"><img src="../public/assets/img/update.png" class="icon-update" alt="update logo"></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

    {% endfor %}
</section>

{% endblock main %}
