{% extends "admin/base.html.twig" %}

{% block main %}

    <section id="product">
        <img src="{{ asset('uploads/cover/'~product.picture) }}" alt="">
            <article>
                <h3>{{ product.name }}</h3>
                <p><em>Episode:</em> {{ product.episode }}</p>
                <p><em>Fabricant:</em> {{ product.manufacturer }}</p>
                <p><em>Catégorie:</em> {{ product.category }}</p>
                <p><em>Description:</em> {{ product.description }}</p>
                <p id="estimate">Cote: {{ product.price }}€</p>
            </article>
    </section>

{% endblock main %}
