{% extends "public/base.html.twig" %}

{% block main %}
    <main>
        <section id="main-part">
            <div class="search-bar">
                <input type="text"placeholder="Recherche par personnage, par fabricant, par catégorie"/>
                <div>
                    <a class="btn btn-fonction" href="{{ path('public_search_products') }}">Rechercher</a>
                </div>
            </div>
            <div class="sub-menu">
                <nav>
                    <ul class="sub-menu-list">
                        <li><a class="element-list" href="#">The Mandalorian</a></li>
                        <li><a class="element-list" href="#">Rogue One</a></li>
                        <li><a class="element-list" href="#">Episode I</a></li>
                        <li><a class="element-list" href="#">Episode III</a></li>
                        <li><a class="element-list" href="#">Episode V</a></li>
                    </ul>
                </nav>
                <h1>Site de référencement de figurines sous licence Star Wars, pour les collectionneurs habités par la passion ... et  La Force.<br/>
                    Les plus belles statuettes sur vos étagères et dans vos vitrines.</h1>
            </div>
        </section>
        <section id="img-figures-part">
            <div>
                <img class="grogu" src="../public/assets/img/bgd-image-grogu.png" alt="">
                <img class="figures" src="../public/assets/img/bgd-image-figures.jpeg" alt="">
            </div>
        </section>
        <section id="figures-group">
            <div class="element-figures">
                <p>Les figurines du moment</p>
            </div>
            <section class="figures-cards">
                <div class="figure">
                    <div class="card-container">
                        <article>
                            <div class="card">
                                <img src="../public/assets/img/hot-toys-darth-maul-speeder.jpeg" alt="Star Wars figure"/>
                                <div class="card-content">
                                    <h4>Figurine Hot Toys Darth Maul with speeder Special Edition</h4>
                                    <h5>Cote: 690€</h5>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="figure">
                    <div class="card-container">
                        <article>
                            <div class="card">
                                <img src="../public/assets/img/sideshow-han-solo-empire.jpg" alt="Star Wars figure"/>
                                <div class="card-content">
                                    <h4>Statuette Han Solo Empire Strikes Back Sideshow Collectibles</h4>
                                    <h5>Cote: 600€</h5>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="figure">
                    <div class="card-container">
                        <article>
                            <div class="card">
                                <img src="../public/assets/img/hot-toys-anakin-darkside.jpg" alt="Star Wars figure"/>
                                <div class="card-content">
                                    <h4>Figurine Hot Toys Anakin Skywalker dark side Hot Toys</h4>
                                    <h5>Cote: 450€</h5>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="figure">
                    <div class="card-container">
                        <article>
                            <div class="card">
                                <img src="../public/assets/img/sideshow-aayla-secura.jpg" alt="Star Wars figure"/>
                                <div class="card-content">
                                    <h4>Statuette Aayla Secura Revenge Of The Sith Sideshow Collectibles</h4>
                                    <h5>Cote: 420€</h5>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <div>
                <a class="btn btn-fonction" href="{{ path('products') }}">voir plus</a>
            </div>
        </section>
        <section id="newsletter-part">
            <img class="newsletter-bgd"src="../public/assets/img/newslletter-bg.jpg" alt="picture with some Star Wars figures">
            <div class="newsletter-form">
                <div class="element-newsletter">
                    <h3>Vous souhaitez être informé</br> des dernières nouveautés ?</h3>
                    <p>N'hésitez pas à vous inscrire</p>
                </div>
                <div class="newsletter-bar">
                    <form action="{{ path('newsletter') }}" method="post" class="form">
                        {{ form_start(newsletterForm) }}
                        <div class="widget">
                            {{ form_widget(newsletterForm.email) }}
                        </div>
                        {{ form_end(newsletterForm) }}
                    </form>
                </div>
            </div>
        </section>
        </section>
    </main>
{% endblock main%}
