{% extends "public/base.html.twig" %}

{% block main %}
    <main>
        <section id="message">
            <div>
                {% for message in app.flashes('mail-ok') %}
                    <p id="alert-mail" href="#">{{ message }}</p>
                {% endfor %}
            </div>
        </section>
        <section id="main-part">
            <form class="search-bar" action="{{ path('public_search_products') }}">
                <input type="text" name="q" placeholder="Recherche par personnage, par fabricant, par catégorie"/>
                <div>
                    <button class="btn btn-fonction" type="submit" href="{{ path('public_search_products') }}">Rechercher</button>
                </div>
            </form>
            <div class="sub-menu">
                <nav>
                    <ul class="sub-menu-list">
                        <li><a class="element-list" href="{{ path('public_episode_mandalorian') }}">The Mandalorian</a></li>
                        <li><a class="element-list" href="{{ path('public_episode_rogueone') }}">Rogue One</a></li>
                        <li><a class="element-list" href="{{ path('public_episode_1') }}">Episode I</a></li>
                        <li><a class="element-list" href="{{ path('public_episode_3') }}">Episode III</a></li>
                        {# I use "Path" to link the route of the controller with the link of the access path #}
                        <li><a class="element-list" href="{{ path('public_episode_4') }}">Episode IV</a></li>
                    </ul>
                </nav>
                <h1>Site de référencement de figurines sous licence Star Wars, pour les collectionneurs habités par la passion ... et  La Force.<br/>
                    Les plus belles statuettes sur vos étagères et dans vos vitrines.
                </h1>
            </div>
        </section>
        <section id="img-figures-part">
            <div>
                <img class="grogu" src="../public/assets/img/bgd-image-grogu.png" alt="">
                <img class="figures" src="../public/assets/img/bgd-image-figures.jpeg" alt="">
            </div>
        </section>
        <section id="figures-group">
            <div class="element-figures">
                <p>Les figurines du moment</p>
            </div>
            <section class="figures-cards">
                {% for productadd in lastFigures %}
                                <div class="card">
                                    <a href="{{ path('public_product', {"id": productadd.id}) }}"><img src="{{ asset('uploads/cover/'~productadd.picture) }}" alt=""></a>
                                    <div class="card-content">
                                        <h4>{{ productadd.name }} {{ productadd.manufacturer }}</h4>
                                        <h4 id="price">Cote: {{ productadd.price }}€</h4>
                                    </div>
                                </div>
                {% endfor %}
            </section>
            <div>
                <a class="btn btn-fonction" href="{{ path('products') }}">voir plus</a>
            </div>
        </section>
        <section id="newsletter-part">
            <img class="newsletter-bgd"src="../public/assets/img/newslletter-bg.jpg" alt="picture with some Star Wars figures">
            <div class="newsletter-form">
                <div class="element-newsletter">
                    <h3>Vous souhaitez être informé</br> des dernières nouveautés ?</h3>
                    <p id="subscription-newsletter">N'hésitez pas à vous inscrire</p>
                </div>
                <div class="newsletter-bar">
                    <form action="{{ path('newsletter') }}" method="post" class="form">
                        {{ form_start(newsletterForm) }}
                        <div class="widget">
                            {{ form_widget(newsletterForm.email) }}
                        </div>
                        {{ form_end(newsletterForm) }}
                    </form>
                </div>
            </div>
        </section>
        </section>
    </main>
{% endblock main%}
