{% extends "public/base.html.twig" %}

{% block main %}

    <section id="product">
        <img src="{{ asset('uploads/cover/'~product.picture) }}" alt="image de la figurine">
            <article id="product-elements">
                <div class="btn-back">
                    <a href="{{ path('home') }}">ACCUEIL</a>
                    <a href="{{ path('products') }}">TOUTES LES FIGURINES</a>
                </div>
                    <h3>{{ product.name }}</h3>
                <div>
                    <p><span>Episode:</span> {{ product.episode }}</P>
                    <p><span>Fabricant:</span> {{ product.manufacturer }}</p>
                    <p><span>Catégorie:</span> {{ product.category }}</p>
                    <p><span>Description:</span> {{ product.description }}</p>
                </div>
                    <p id="estimate">Cote: {{ product.price }}€</p>
            </article>
    </section>

{% endblock main %}
