{% extends "public/base.html.twig" %}

{% block main %}


    <section id="products-list">

        <h3 >Vos résulats de recherche :</h3>
        {% for product in products %}
            <div class="card-figure">
                <div class="card-container">
                    <article>
                        <div class="card-detail">
                            <a href="{{ path('public_product', {"id": product.id}) }}"><img src="{{ asset('uploads/cover/'~product.picture) }}" alt=""></a>
                            <div class="card-content">
                                <h4>{{ product.name }} {{ product.manufacturer }}</h4>
                                <h4 id="price">Cote: {{ product.price }}€</h4>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        {% endfor %}

    </section>



{% endblock main %}
